extends layout

block content
  h1 All Book Reviews
  ul.book-list
    each book in books
      li.book-item
        h2= book.title
        p Author: #{book.author}
        p Rating: #{book.rating}
        p Comment: #{book.comment}
        p Review Date: #{book.reviewDate.toLocaleDateString()}
        a(href=`/books/${book.id}/edit`) Edit
        form(action=`/books/${book.id}?_method=DELETE` method="POST")
          button(type="submit") Delete
  a(href="/books/new") Add New Review
  
  footer.disclaimer
    p This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service.